<div class="container-fluid mt-4">
  <div class="row">
    <div class="col col-sm-10 col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLink="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="studentRegistry">Registro</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/student-list']">Listado</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="studentHome">Principal</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>